
<!-- <h2>Déroulement de votre login </h2>
<p>Vous vous êtes bien connecté</p> -->
<div class="body">



    

<h2>Bienvenue dans votre espace personnel</h2>
<div class="account">


<div class="profil_param">
    <div class="profil">
        <div class="img">
            <img src="../../assets/images/water-eaf.jpg" alt="">
        </div>
        <p class="pseudo">{{myInfo.pseudo}}</p>
        <p class="nom">{{myInfo.last_name}} <span>{{myInfo.first_name}}</span></p>
        <p>Role : {{role_name}}</p>

    </div>
    <div class="param">
        <ul>
            <li> <a href="#">Éditer mon compte</a></li>  
            <li><a href="#">Modifier mon profil</a></li>
            <li><button (click)="deleteUser()"><a>Supprimer mon compte</a></button> </li>
            <!-- <li><a href="#">Voir mes messages</a></li> -->
            
        </ul>

    </div>
</div>
<!-- <div class="messages">
    <h3>Mes Messages</h3>
    <article>
        <h5>titre</h5>
        <p>Contenu BLABLABLABLABLABLABLABLABLABLABLA</p>
    </article>
</div> -->


</div>

<app-app-message [message]="app_message"></app-app-message>
</div>