
<h2>Déroulement de votre login </h2>
<p>Vous vous êtes bien connecté</p>
<h2>Bienvenue dans votre espace personnel</h2>
<div class="account">


<div class="profil_param">
    <div class="profil">
        <div class="img">
            <img src="../../assets/images/water-eaf.jpg" alt="">
        </div>
        <p class="pseudo">{{pseudo}}</p>
        <p class="nom">{{nom}} {{prenom}}</p>

    </div>
    <div class="param">
        <ul>
            <li> <a href="#">Éditer mon compte</a></li>  
            <li><a href="#">Modifier mon profil</a></li>
            <li><a href="#">Supprimer mon compte</a></li>
            <li><a href="#">Voir mes messages</a></li>
            
        </ul>

    </div>
</div>
<div class="messages">
    <h3>Mes Messages</h3>
    <article>
        <h5>titre</h5>
        <p>Contenu BLABLABLABLABLABLABLABLABLABLABLA</p>
    </article>
</div>


</div>