<app-header></app-header>
<router-outlet></router-outlet>



<!-- <app-article></app-article>
<app-registration></app-registration>
<app-login></app-login>
<app-article-form></app-article-form>
<app-member-area></app-member-area> -->


<!-- https://stackoverflow.com/questions/28101540/http-delete-not-sending-authorization-header-angular-js  NO AUTHO For Delete -->
<!-- https://stackoverflow.com/questions/13105019/how-to-add-on-delete-cascade-and-on-update-restrict-using-phpmyadmin  Can't See ONDELETE Condition in phpmyadmin-->