/* You can add global styles to this file, and also import other style files */

:root {
    --blue-theme: Rgb(22, 41, 70, 0.95);
    --blue-theme2: Rgb(26, 44, 74);

    --red: #FD2D01;
    --beige: #FFD7D7;
    --gray: #4E5166;
}

*{
    margin:0;
    padding:0;
}